<div class="relative pl-12 mb-12">

  <div
    class="bg-zinc-950/70 border border-sky-900 rounded-2xl overflow-hidden
          transition hover:border-sky-400 hover:shadow-lg hover:shadow-sky-500/10">

    <div class="relative h-48 w-full overflow-hidden">
      <img
        [src]="imagen"
        alt="titulo"
        class="w-full h-full object-cover"
      />

      <div class="absolute inset-0 bg-linear-to-t from-black/70 to-transparent"></div>
    </div>

    <div class="p-6 flex flex-col gap-4">

      <a
        [href]="githubUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="w-fit"
      >
        <img
          src="https://img.shields.io/badge/GitHub-View%20Repository-181717?style=for-the-badge&logo=github&logoColor=white"
          alt="GitHub repository link"
        />
      </a>

      <h3 #escritor class="text-2xl font-semibold text-white mb-1 font-mono typing">
        {{ titulo }}
      </h3>

      <p class="text-zinc-300 text-lg leading-relaxed">
        {{ descripcion }}
      </p>

      @if(iconos.length > 0){
        <div class="flex flex-wrap gap-4 mt-4 text-white text-2xl">
          @for (icono of iconos; track icono){
            <img src="{{ icono }}" alt="icono" />
          }
        </div>
      }

    </div>
  </div>
</div>
