.typing {
  width: 0;
  display: inline-block;
  border-right: 3px solid #38bdf8;
  /* cursor */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(var(--caracteres-step), end) forwards var(--retardo),
    blink 0.75s step-end infinite;
}


@keyframes typing {
  to {
    width: var(--caracteres)
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
