.typing {
  --caracteres: 90ch;
  --caracteres-step:90;

  width: 0;
  display: inline-block;
  border-right: 8px solid #38bdf8;
  /* cursor */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(var(--caracteres-step), end) forwards 0.8s,
  blink 0.75s step-end infinite;
}


@keyframes typing {
  to {
    width: var(--caracteres)
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
