<div class="h-full flex flex-1 flex-col items-center justify-center">

  <img src="/foto.jpg" alt="Foto"
  class="
  w-48 h-48
  rounded-full
  object-cover
  mb-10
  border border-sky-800
  shadow-[0_0_20px_rgba(56,189,248,0.7)]
  ">

  <div class="
  flex flex-col
  items-center
  gap-4
  mt-8
  w-full
  px-4
  ">
    <app-sidebar-button texto="Miguel" ruta="/"></app-sidebar-button>
    <app-sidebar-button texto="About Me" ruta="/about"></app-sidebar-button>
    <app-sidebar-button texto="Experience" ruta="/experience"></app-sidebar-button>
    <app-sidebar-button texto="Education" ruta="/education"></app-sidebar-button>
    <app-sidebar-button texto="Skills" ruta="/skills"></app-sidebar-button>
    <app-sidebar-button texto="Projects" ruta="/projects"></app-sidebar-button>
  </div>


</div>
